<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <My.MySettings>
            <setting name="ShouldUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateServer" serializeAs="String">
                <value>http://yadfr.sourceforge.net/update.xml</value>
            </setting>
            <setting name="UpdateAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="extArchives" serializeAs="String">
                <value>*.rar;*.zip;*.7z;*.iso;*.tar;*.ace;*.cab</value>
            </setting>
            <setting name="extImages" serializeAs="String">
                <value>*.jpg;*.jpeg;*.png;*.gif;*.bmp;*.tif;*.tiff;*.pict</value>
            </setting>
            <setting name="extMusic" serializeAs="String">
                <value>*.mp3;*.ogg;*.wma;*.mid;*.midi;*.aac;*.wav</value>
            </setting>
            <setting name="extVideos" serializeAs="String">
                <value>*.avi;*.h264;*.wmv;*.ogm;*.mpg;*.mpeg;*.mpa;*.mov;*.qt;*.flv;*.m1v;*.m2v;*.mp4</value>
            </setting>
            <setting name="HashAlgo" serializeAs="String">
                <value>0</value>
            </setting>
        </My.MySettings>
    </userSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
